@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter";
  src: url("/fonts/Matter-Medium.woff2") format("woff2"),
    url("/fonts/Matter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/Matter-Regular.woff2") format("woff2"),
    url("/fonts/Matter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-within:outline-none ring-team-current ring-offset-4 ring-offset-white transition duration-300 focus-within:ring-2 focus-within:ring-team-current hover:ring-2 hover:ring-team-current focus:ring-2 focus:ring-team-current disabled:ring-0 group-hover:ring-2 group-hover:ring-team-current group-focus:ring-2 group-focus:ring-team-current dark:ring-offset-gray-900;
  }

  .focus-ring.danger {
    @apply ring-red-500 focus-within:ring-red-500 hover:ring-red-500 focus:ring-red-500 group-hover:ring-red-500 group-focus:ring-red-500 dark:focus-within:ring-red-500 dark:hover:ring-red-500 dark:focus:ring-red-500 dark:group-hover:ring-red-500 group-focus:dark:ring-red-500;
  }

  .bg-primary-dark {
    @apply bg-primaryDark;
  }

  .bg-primary {
    @apply bg-primaryDefault;
  }

  .border-primary {
    @apply border-gray-900 dark:border-white;
  }

  .border-secondary {
    @apply border-gray-200 dark:border-gray-600;
  }

  .typo-title-1-bold {
    @apply text-5xl font-bold;
  }

  .typo-title-1-semibold {
    @apply text-5xl font-semibold;
  }

  .typo-title-2-bold {
    @apply text-title-2 font-bold;
  }

  .typo-title-2-semibold {
    @apply text-title-2 font-semibold;
  }

  .typo-title-3-bold {
    @apply text-2xl font-bold;
  }

  .typo-title-3-semibold {
    @apply text-2xl font-semibold;
  }

  .typo-body-1-bold {
    @apply text-lg font-bold;
  }

  .typo-body-1-semibold {
    @apply text-lg font-semibold;
  }

  .typo-body-1-regular {
    @apply text-lg font-normal;
  }

  .typo-body-2-bold {
    @apply text-base font-bold;
  }

  .typo-body-2-semibold {
    @apply text-base font-semibold;
  }

  .typo-body-2-regular {
    @apply text-base font-normal;
  }

  .typo-body-3-bold {
    @apply text-sm font-bold;
  }

  .typo-body-3-semibold {
    @apply text-sm font-semibold;
  }

  .typo-body-3-regular {
    @apply text-sm font-normal;
  }

  .typo-caption-bold {
    @apply text-xs font-bold;
  }

  .typo-caption-semibold {
    @apply text-xs font-semibold;
  }

  .typo-caption-regular {
    @apply text-xs font-normal;
  }
}
